@font-face {
    font-family: "iconfont"; /* Project id 3895429 */
    src: url('//at.alicdn.com/t/c/font_3895429_aqpvcg6j495.woff2?t=1676362107386') format('woff2'),
         url('//at.alicdn.com/t/c/font_3895429_aqpvcg6j495.woff?t=1676362107386') format('woff'),
         url('//at.alicdn.com/t/c/font_3895429_aqpvcg6j495.ttf?t=1676362107386') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-31shezhi:before {
    content: "\e600";
  }
  
  .icon-xiangshang1:before {
    content: "\e76d";
  }
  
  .icon-xiangxia1:before {
    content: "\e771";
  }
  
  .icon-xiangshang4:before {
    content: "\e795";
  }
  
  .icon-xiangxia4:before {
    content: "\e796";
  }
  
  .icon-jiahao:before {
    content: "\e635";
  }
  
  .icon-dangrixiaoshoue:before {
    content: "\e611";
  }
  
  .icon-xiaoche:before {
    content: "\e625";
  }
  
  .icon-dingdanliangzoushi:before {
    content: "\e609";
  }
  
  .icon-dingdan:before {
    content: "\e897";
  }
  
  .icon-kehu:before {
    content: "\e697";
  }
  
  .icon-fuzhushuxian:before {
    content: "\e6f4";
  }
  
  .icon-mendianliebiao:before {
    content: "\e630";
  }
  
  .icon-cheliangzhuanru:before {
    content: "\e603";
  }
  
  .icon-tongji:before {
    content: "\e69b";
  }
  
  .icon-cheliangguanli:before {
    content: "\e6b6";
  }
  